<div>
  <p class="card-text text-center my-2">Submitted by {{quote.submittedBy}}</p>
</div>
<div class="card-footer">
  <div class="row">
    <div class="col-2">
      <i class="fa-solid fa-thumbs-up text-success upvote" (click)="upvoteAQuote(true)"></i>{{quote.upvote}}
    </div>
    <div class="col-2">
      <i class="fa-solid fa-thumbs-down text-danger downvote" (click)="downvoteAQuote(true)"></i>{{quote.downvote}}
    </div>
    <div class="col-2">
      <i class="fa-solid fa-trash text-light" (click)="deleteAQuote(true)"></i>
    </div>
    <div class="col-6 text-end">
      Added {{quote.dateCreated|datePassed}}
    </div>
  </div>
</div>
