<section id="form">
  <div class="container">
    <div class="col-12 col-md-5 mx-md-auto">
      <div class="card bg-dark">
        <div class="d-flex card-header justify-content-between">
          <h3 class="card-title fs-5">Quote form</h3>
          <i class="fa-solid fa-xmark text-white mt-2"></i>
        </div>
        <div class="card-body">
          <form>
            <div class="form-floating my-4">
              <textarea class="form-control" name="quote-text" id="quote-text" placeholder="Enter quote"></textarea>
              <label for="quote-text">Enter quote</label>
            </div>
            <div class="form-floating my-4">
              <input type="text" class="form-control" name="author" id="author" placeholder="Enter author's name">
              <label for="author">Enter author's name</label>
            </div>
            <div class="form-floating my-4">
              <input type="text" class="form-control" name="submitted-by" id="submitted-by" placeholder="Submitted by">
              <label for="author">Submitted by</label>
            </div>
            <div class="mt-5">
              <button class="btn btn-success btn-lg w-100">Add quote</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
